/*
 * PORTFOLIO CSS
 * css stylization for portfolio pages
 */

 html,body{

 	width:100%;
 	margin:auto;
 	overflow-x:hidden;

 }

#wrapper {
	min-height:100%;
	position:relative;
}

.arsenic {
	width: 50%;
	margin: 50px 0px 50px 0px;
}

.portfolio_bottom {
	height: 20px;
	width: 100%;
	position: relative;
	border-radius: 0px;
	background-color: #6C8C8A;
}

.header-font {
	position: relative;
	margin-top: 25px;
	margin-left: -15px;
	font-family: 'Roboto';
	color: #686868;
	font-weight: 100;
	font-size: 20px;
}

.portfolio_page {
	min-height: 100vh;
	width: 100%;
	background-color: #F4F4F4;
}

.portfolio_top {
	position: relative;
	height: 100px;
	min-height: 100px;
	width: 100%;
	background-color: #FFFFFF;
}

.portfolio_top-border {
	position: relative;
	height:10px;
	width: 100%;
	background-color: #88CDCA;
}

.title {
	margin-top: 25px;
	position: relative;
	margin-right: 100px;
	font-family: 'Noticia Text', 'Roboto', Garamond, sans-serif;
	font-weight: 400;
	font-size: 38px;
    line-height: auto;
	color: #414948;
	opacity: .75;
	z-index: 2;
}

.subtitle {
	position: relative;
	font-family: 'Noticia Text', 'Roboto', Garamond, sans-serif;
	font-weight: 400italic;
	font-size: 25px;
	color: #4E686B;
}

.top-logo {
	margin-top: 20px;
	width: 20vw;
}

@media(max-width:1000px) {
	.portfolio_top {
		height: 125px;
	}

	.arsenic {
		width: 50%;
		margin: 50px;
	}

	.title {
		font-size: 30px;
	}
}


*::selection {
  background: #F9DE6B;
}

*::-moz-selection {
  background: #F9DE6B;
}

*::-webkit-selection {
  background: #F9DE6B;
}