 html,body{

 	width:100%;
 	margin:auto;
 	overflow-x:hidden;
 }
 
a {
	color: #55B7B4;
}

a:hover {
	color: #FCD054;
	text-decoration: none;
    -webkit-transition: all ease .25s;
    -moz-transition: all ease .25s;
    transition: all ease .25s;
}

#down_arrow {
    text-align: center;
}

.fa-angle-down {
    color: #FFFFFF;
    opacity: .5;
}

.fa-angle-down:hover {
    opacity: 1;
}

#baker_berry {
	width: 250px;
	position: absolute;
/*	margin-top: -10%;
*/}

.top_border {
	height: 35px;
	position: relative;
	border-radius: 0px;
	background-color: #DAE0DF;
	margin-bottom: 30px;
}

.bottom_border {
	height: 12px;
	position: relative;
	border-radius: 0px;
	margin-bottom: 7px;
	background-color: #6C8C8A;
}

/* experience icon */
#dali {
	width: 150px;
	margin: 30px 0px 0px 10px;
}

/* experience icon */
#waterfall {
	width: 85px;
	margin: 20px 0px 0px 50px;
}

footer {
	height:70px;
	text-align: center;
	background-color: white;
}

footer .footer_text {
	font-size: 13px;
	line-height: 60px;
	color: #414948;
	padding-top: 25px;
	font-weight: 400;
	font-family: 'Noticia Text', 'Roboto', Garamond, sans-serif;
}

header {
	height: 720px;
	width: 100vw;
	background-color: #88CDCA;
}

header .intro-text .intro-lead-in {
	position: relative;
	text-align: center;
	margin: 50px 100px 0px 0px;
	font-weight: bold;
	font-family: 'Noticia Text', "Roboto", Garamond;
	font-weight: 700;
	font-size: 5vw;
	color: #ffffff;
	z-index: 2;
    line-height: auto;
}

header .intro-text .intro-heading {
	position: relative;
	text-align: center;
	margin-right: 100px;
	font-family: 'Noticia Text', 'Roboto', Garamond, sans-serif;
	font-weight: 400;
	font-size: 2.5vw;
    line-height: auto;
	color: #414948;
	opacity: .75;
	z-index: 2;
}

header #header_subtext {
	font-weight: 300;
	padding-bottom: 1vw;
    line-height: auto;
	font-size: 1vw;
}

header #header_main {
	width: 700px;
	float: left;
    line-height: auto;
	position: relative;
	margin-top: 85px;
	margin-left: 40px;
	z-index: 1;
}

@media(max-width:768px) {
    header {
		height: 475px;
		background-color: #88CDCA;
	}

	header #header_main {
		width: 90%;
		float: left;
	    line-height: auto;
		position: relative;
		margin-top: 85px;
		margin-left: 30px;
		z-index: 1;
	}

	.footer_text {
		text-align: center;
	}

	.icons {
		width: 50%;
		margin-right: 25px;
	}
}

.icons {
	min-width: 100px;
	display: block;
	position: relative;
	margin-right: 100px;
}

/* icon circles 73.426 px */
.icon_link {
	width: 5.95vw;
	position: absolute;
	opacity: 0.75;
	margin: 2vw auto;
}

.icon_link:hover {
	opacity: 1;
    -webkit-transition: all ease .25s;
    -moz-transition: all ease .25s;
    transition: all ease .25s;
}

.full_interests {
	width: 100%;
	margin-bottom: 3vw;
}

.line {
	height: 8px;
    width: 100%;
    background-color: #828282;
	border-radius: 0px;
    margin-top: 47px;
	text-align: center;
}

.mini_header {
	font-family: 'Noticia Text', Garamond, serif;
	padding-bottom: 25px;
	padding-top: 15px;
	font-weight: 700;
	font-size: 20px;
	text-align: left;
}

#portfolio {
	height:100%;
	background-color: #E8E8E3;
}

/* PORTFOLIO CODE */
#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: auto;
    width: 90%;
    height: 90%;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
    /*background: rgba(254,209,54,.9);*/ /* Fallback when no plugin support */
/*    background: rgba(161,209,206,.9); 
    background: rgba(#B3DDDA, .9);*/
    background: white;
    /* #FCD054 */
}

/* 4.507 in x 5.1362 in */
#portfolio .portfolio-item .portfolio-link {
    max-height: 400px;
    display:block;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    margin:auto;
}

#portfolio .portfolio-item .portfolio-link:hover{
    max-height: 400px;
    display:block;
    -webkit-filter: none; 
    margin:auto;
}

/*#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 0.50;
}*/

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: black;
}

#portfolio .portfolio-item .portfolio-caption {
    margin: 0 auto;
    padding: 25px;
    width: 90%;
    height: 90%;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
    margin: 0;
    font-family: 'Noticia Text', 'Roboto', Garamond, sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
    margin: 0;
    font-family: 'Noticia Text', 'Roboto', Garamond, sans-serif;
    font-size: 12px;
    font-style: normal;
}

#portfolio .portfolio-item .portfolio-caption .type {
    margin: 0;
    font-family: 'Noticia Text', 'Roboto', Garamond, sans-serif;
    font-size: 12px;
    font-style: italic;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.section_header {
	font-family: 'Noticia Text', Garamond, serif;
	font-weight: 700;
	font-size: 50px;
	text-align: center;
}

.section_text {
	margin-top: 10px;
	text-align: center;
    font-family: 'Noticia Text', Garamond, serif;
	font-weight: 300;
	font-size: 16px;
}

.subtext {
	text-align: left;
	font-family: 'Noticia Text', Garamond, serif;
	font-weight: 400;
	font-size: 14px;
}

.topbar-buttons {
	margin-top: 17px;
}

ul.social-buttons {
/*	float: right;
*/    margin-top: 16px;
/*    margin-right: 60px;
*/}

ul.social-buttons li a {
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 35px;
    margin-right: 10px;
    text-align: center;
    outline: 0;
    color: #ffffff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover {
    background-color: #87C1BC;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}

*::selection {
  background: #F7E181;
}

*::-moz-selection {
  background: #F7E181;
}

*::-webkit-selection {
  background: #F7E181;
}